.button-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.number-button {
  border: 1px solid var(--primary-color);
  background-color: transparent;
  border-radius: 10px;
  color: var(--primary-color);
  font-size: 20px;
  padding: 9px 20px;
  height: fit-content;
  cursor: pointer;
}

.number-button.primary {
  background-color: var(--primary-color);
  color: white;
}

.colon-button {
  border-radius: 10px;
  width: 5px; /* Set the desired width for the buttons */
  font-size: 30px;
  padding: 1px 20px 5px 10px;
  font-weight: bold;
}

.clear-button {
  width: 80px; /* Set the desired width for the buttons */
  padding: 9px 20px 10px 15px;
  font-size: 20px;
}

.input-container {
  margin-top: 10px; /* Add some space between buttons and input field */
  margin-bottom: 20px;
}

.input-field {
  font-size: 20px; /* Set the desired font size for the input field */
}